.body2 {
    font-family: Arial, Helvetica, sans-serif;
    width: 35%;
    border-radius: 20px;




  }

  * {
    box-sizing: border-box;
  }

  input[type=text],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 0.5px solid #7FFFD4;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: yellow;
    padding: 12px 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  .container {
    border-radius: 26px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50%;
    height: 50%;
  }